body{
    margin: 0;
    background: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
    line-height: 1.5;
}
h2{
    margin: 0;
    padding: 1em;
}
p{
    margin: 0;
    padding: 1em;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: white;
}

.bg{
    position: absolute;
    background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 450px;
    width: 100%;
    z-index: -1;/*to display image behind text*/
    opacity: 0.5;
}
#headerId{
    text-align: center;
    min-height: 450px;
}
#headerId h1{
    padding-top: 100px;
    padding-bottom: 0;
}
#headerId p{
    padding: 1em 0;
    margin: 0;
    /* color: violet; */
}
.btn{
    background: #333;
    border: 1px solid #666;
    padding: 1em;
}
.btn:hover{
    background: #fff;
    color: #333;
    cursor:pointer;
}

#section-a{
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}

#section-b{
    display: grid;
    padding: 2em;
}
#section-b ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /*to display all li elements in same line */
    justify-content: space-around;/*to give space b/w li elements */

}
#section-b li{
    background: #fff;
    color: #333;
    width: 31%;
    margin-bottom: 1em;
}
#section-c{
    background: #ffffff;
    color: #333;
    padding: 2em;
}
#section-d{
    display: flex;
}
#section-d .box{
    padding: 1 em;
}
#section-d .box:first-child{
    background: #2690d4;
}

#footer{
    background: #000000;
    display:flex;
    padding: 2em;
}
#footer div:last-child{
    margin-left: auto;
}

@media only screen and (max-width: 600px){
    #section-b ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: block; /*to display all li elements in same line */
        justify-content: space-around;/*to give space b/w li elements */
    
    }
    #section-b li{
        background: #fff;
        color: #333;
        width: 100%;
        margin-bottom: 1em;
    }
    #section-d{
        display: block;
    }
    #footer{
        background: #000000;
        color: #ffffff;
        display: block;
        padding: 2em;
    }
    #footer div:last-child{
        margin-top: 2em;
    }
}